<div>Your Thoughts</div>
<ul>
  <% @my_thoughts.each do |thought| %>
    <li><%= thought.body %></li>
  <% end %>
</ul>
<div>Share Your Thoughts</div>
<%= form_for @thought do |form| %>
  <div>
    <%= render "errors", target: @thought %>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit "Share This Thought" %>
  </div>
<% end %>
<%= form_for @photo do |form| %>
  <div>
    <h4><%= form.label "Upload new photo" %></h4>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.file_field :picture_file %>
  </div>
  <div>
    <%= form.submit "Add photo" %>
  </div>
<% end %>

<%= link_to "My photos", [current_user, :photos] %>

<h4>Friends</h4>
<ul>
  <% current_user.friends.each do |friend| %>
    <li><%= link_to friend.name, friend %></li>
  <% end %>
</ul>
<h4>Friend Requests</h4>
<% @friend_requests.each do |friend_request| %>
  <li><%= friend_request.friender.name %> wants to be your friend</li>
  <%= button_to "Accept friend", [friend_request, :accepted_friendship] %>
<% end %>
