<div class ="left-container">
  <div class="new-thoughts-dashboard">
    <div>Share Your Thoughts</div>
    <%= form_for [current_user, @thought] do |form| %>
      <div>
        <%= render "errors", target: @thought %>
      </div>
      <div>
        <%= form.label :body %>
        <%= form.text_field :body %>
      </div>
      <div>
        <%= form.submit "Share This Thought" %>
      </div>
    <% end %>
  </div>
 
  <div class="new-photo-dashboard">
    <%= form_for @photo do |form| %>
      <div>
        <h4><%= form.label "Upload new photo" %></h4>
      </div>
      <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>
      <div>
        <%= form.file_field :picture_file %>
      </div>
      <div>
        <%= form.submit "Add photo" %>
      </div>
    <% end %>
  </div>

  <div class="friends-dashboard">
    <h4>Friends</h4>
    <ul>
      <% current_user.friends.each do |friend| %>
        <li><%= link_to friend.name, user_show_path(friend) %></li>
      <% end %>
    </ul>
    <h4>Friend Requests</h4>
    <% @friend_requests.each do |friend_request| %>
      <li><%= friend_request.friender.name %> wants to be your friend</li>
      <%= button_to "Accept friend", [friend_request, :accepted_friendship] %>
    <% end %>
  </div>

</div>
<div class="right-container">
  <div class="my-thoughts-dashboard">
    <h4>My Thoughts</h4>
    <ul>
      <% @my_thoughts.each do |thought| %>
        <li><%= thought.body %></li>
      <% end %>
    </ul>
  </div>
  <div class="my-photos-dashboard">
    <div>
      <%= link_to "All My photos", [current_user, :photos] %>
    </div>
    <%= render partial: "photos/thumbnails", collection: @my_photos, as: :photo %>
  </div>
  <div class="chat-dashboard">
    <div id="messages">
      <%= render @messages %>
    </div>
    <%= form_for @message do |form| %>
      <%= form.label "message" %>
      <%= form.text_field :body %>
      <%= form.collection_select :recipient_id, current_user.friends, :id, :name %>
      <%= form.submit "Send" %>
    <% end %>
  </div>
</div>
