<h2> You are signed in as <%= current_user.name %></h2>
<div> Your Thoughts </div>
<ul>
  <% @my_thoughts.each do |thought| %>
    <li><%= thought.body %></li>
  <% end %>
</ul>
<div> Share Your Thoughts </div>
<%= form_for @thought do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit "Share This Thought" %>
  </div>
<% end %>
