<div class="right-container">
  <div class="photo-dashboard">
    <%= render @current_photo %>
    <% if @previous_photo %>
      <%= link_to "Previous", @previous_photo %>
    <% end %>

    <% if @next_photo %>
      <%= link_to "next", @next_photo %>
    <% end %>
    <%= render "like_button", object: @current_photo %>
    <div>
      <%= pluralize @likes.count, "like" %>
    </div>
    <div>
      <h4>People who liked this Photo</h4>
      <ul>
        <% @likers.each do |liker| %>
          <li><%= liker.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<h3><%= link_to "Comments", "#", class: "toggle-comments" %></h3>
<div class="comments-dashboard">
  <div>
    <%= form_for [@photo, @comment], id: "thought_comment" do |form| %>
      <%= form.text_field :body, placeholder: "Add Comment" %>
      <%= form.submit "Comment" %>
    <% end %>
  </div>
  <div class="comments-dashboard">
    <%= render @comments %>
  </div>
</div>
