<!DOCTYPE html>
<html>
<head>
  <title>Facenovel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Facenovelr", root_path %></h1>

<% if signed_in? %>
  <h3> You are signed in as <%= link_to current_user.name, current_user %></h3>
  <%= button_to "Sign out", :session, method: :delete %>
<% end %>

<div class="outer-container">
  <%= yield %>
</div>

</body>
</html>
